{% extends "short_link/base.html" %}

{% block title %}Link Shortener{% endblock %}

{% block content %}

<div>
 <div style="margin-top:10px;">
  <div class="col-sm-3">
  <input type="url" name="url" id="url" class="form-control input-sm" placeholder="https://google.com" />
  </div>
  <div class="col-sm-3">
  {% csrf_token %}
  <button id="submitButton" class="btn btn-primary" style="margin-top:10px;">Make short</button>
  </div>
  <div class="col-sm-3"><span id="url-result">Send me your url.</span></div>
 </div>
</div>
{% endblock %}